/* Structure
*/
* {
	margin:0;
	padding: 0;
}

body {
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url(../images/background1.png);
	margin: 15px;
}

#container {
	background: #d5e8ff url(../images/background-container.png) top center repeat-y;
	margin: 0 auto;
	min-width: 740px;
	max-width: 1180px;
}

#top {
	position: relative;
	background: #d5e8ff;
	height: 15.4em;
	min-height: 250px;
}

#logo-area {
	position: absolute;
	background: url(../images/main-image.png) no-repeat;
	width: 100%;
	height: 250px;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo a {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 3;
	background: url(../images/logo.png) no-repeat;
	width: 151px;
	height: 66px;
	text-indent: -9000px;
}

#menu-area {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/image-top.png) no-repeat; ;
	width: 450px;
	height: 250px;
	z-index: 2;
}

#menu-content {
	margin-left: 90px;
	margin-right: 15px;
	padding-top: 15px;
}

#local-menu {
	border-bottom: 1px solid #d5e8ff;
	border-top: 1px solid #d5e8ff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.7em;
	color: #2d70c2;
}

#local-menu .local {
	float: left;
	line-height: 2.1em;
}

a {
	text-decoration: none;
}

a.book {
	text-transform: uppercase;
	background: #2d70c2;
	color: #d5e8ff;
	padding: 5px 10px;
	float: right;
}

/* Navegation Bar
*/
#menu {
	margin-top: 15px;
}

ul {
	list-style: none;
}

ul#navegation {
	float: left;
}

ul#navegation a {
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 5px;
	color: #2d70c2;
	line-height: 30px;
}

ul#navegation a:hover {
	background: #d5e8ff;
}

.comment {
	width: 226px;
	height: 164px;
	float: right;
}

/* Content Area
************************/
#main-area {
	float: left;
	width: 50%;
	background: url(../images/background3.png) top left repeat-x;
	padding: 15px 0px;
}

#right-side {
	float: right;
	width: 50%;
	background: url(../images/background2.png) top left repeat-x;
	padding: 20px 0px;
}

.content {
	margin: 0 auto;
	width: 90%;
}

#footer {
	clear: both;
	padding: 16px;
	background: #fff url(../images/background-footer.png) repeat-x top;
	color: #2d70c2;
	text-align: center;
}


/* texts configs
*/
h2 {
	color: #2d70c2;
	font-size: 1.1em;
	padding: 5px 0px;
}

p {
	font-size: 1em;
	margin-bottom: 10px;
}

/* right side configs
*/
#benefits li {
	padding: 8px;
	border-bottom: 1px solid #f3efcb;
	height: 6em;
}

#benefits li a img {
	float: left;
	margin-right: 8px;
}

#benefits li a p {
	color: #000;
	font-size: 0.8em;
}

#benefits li a h3 {
	font-size: 1em;
	color: #2d70c2;
	padding: 5px 0;
	background: url(../images/ornament.png) no-repeat center right;
}

#benefits li:hover {
	background: #d5e8ff;
	cursor: pointer;
}